/* =================== Cadastro =================== */
.cadastro-container {
    transition: all 0.3s ease;
}

    .cadastro-container.facil {
        max-width: 450px;
        margin: 120px auto 50px auto;
        padding: 25px;
        background-color: #e9f7ef;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    .cadastro-container.dificil {
        all: unset;
        display: block;
        margin: 40px;
    }

        .cadastro-container.dificil input {
            width: 100%;
            font-size: 2em;
            padding: 10px;
            margin: 5px 0;
        }

            .cadastro-container.dificil input::placeholder {
                color: transparent;
            }
