@* Partial para overlay/tutorial padronizado *@
<div id="tutorialOverlay" class="tutorial-overlay escondido" aria-hidden="true"></div>
<div id="tutorialBox" class="tutorial-box escondido" role="dialog" aria-modal="true" aria-labelledby="tutorialTitulo" aria-describedby="tutorialTexto" tabindex="-1">
    <h3 id="tutorialTitulo"></h3>
    <p id="tutorialTexto"></p>
    <div class="tutorial-controls">
        <button id="btnAnterior" class="btn-tut btn-verde">⬅ Anterior</button>
        <button id="btnProximo" class="btn-tut btn-verde">Próximo ➡</button>
        <button id="btnFechar" class="btn-tut btn-verde btn-fechar">Fechar ✖</button>
    </div>
</div>